<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fitnhealthy">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <!-- Required only if your app needs to access images or photos
         that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- Required only if your app needs to access videos
         that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- Required only if your app needs to access audio files
         that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="com.google.android.c2dm.permission.send"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <meta-data android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fitnhealthy"
        tools:targetApi="31"
        android:requestLegacyExternalStorage="true">


        <!-- For versions starting Android 14, create an activity alias to show the rationale
             of Health Connect permissions once users click the privacy policy link. -->
        <service
            android:name=".MyPhoneListenerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPrefix="/heart_rate_values"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <activity
            android:name=".Login"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="userPortrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:label="Sign Up"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="userPortrait"
            />
        <activity
            android:name=".Home"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Fitnhealthy"
            android:screenOrientation="userPortrait"
            >

        </activity>
        <activity
            android:name=".ResetPassword"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Fitnhealthy"
            android:screenOrientation="userPortrait"
            >

        </activity>

        <activity
            android:name=".PhysicalAttributes"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Fitnhealthy"
            android:screenOrientation="userPortrait"
            >

        </activity>
        <activity
            android:name=".WorkoutExercises"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Fitnhealthy"
            android:screenOrientation="userPortrait"
            >

        </activity>
        <activity
            android:name=".WorkoutMetrics"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Fitnhealthy"
            android:screenOrientation="userPortrait"
            >

        </activity>
        <activity
            android:name=".ProfileSetup"
            android:exported="false"
            android:label="Set up your profile"
            android:theme="@style/Theme.Fitnhealthy"
            android:screenOrientation="userPortrait"
            />
        <activity
            android:name=".Settings"
            android:exported="false"
            android:label="Settings"
            android:theme="@style/Theme.Fitnhealthy"
            android:screenOrientation="userPortrait"
            />
        <activity
            android:name=".WorkoutOptions"
            android:exported="false"
            android:label="Select a workout option"
            android:theme="@style/Theme.Fitnhealthy"
            android:screenOrientation="userPortrait"
            />
        <activity
            android:name=".Workouts"
            android:exported="false"
            android:label="Select a workout"
            android:theme="@style/Theme.Fitnhealthy"
            android:screenOrientation="userPortrait"
            />
        <activity
            android:name=".SingleWorkout"
            android:exported="false"
            android:label="Single Workout"
            android:theme="@style/Theme.Fitnhealthy"
            android:screenOrientation="userPortrait"
            />
        

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <queries>
        <package android:name="com.google.android.apps.healthdata" />
    </queries>
</manifest>